@use "sass:map";

@mixin generateInputs($colors, $whiteBlackColors) {
  @each $name, $values in $colors {
    .input-#{$name} {
      border: solid map.get($values, 400) 2px !important;
      color: map.get($values, 700);

      &::placeholder {
        color: map.get($values, 200) !important;
      }

      &:hover,
      &:focus {
        border: solid map.get($values, 600) 2px !important;
      }
    }
    .input-#{$name}.colored {
      background-color: map.get($values, 50) !important;
    }
  }

  @if $whiteBlackColors != null {
    @each $name, $values in $whiteBlackColors {
      .input-#{$name} {
        border: solid map.get($values, base) 2px !important;

        &::placeholder {
          color: map.get($values, hover) !important;
        }

        &:hover {
          border: solid map.get($values, hover) 2px !important;
        }
      }
    }
  }
}
