@use "sass:map";
@use "../../functions" as func;

@mixin generateInputs($colors, $whiteBlackColors) {
  @each $name, $values in $colors {
    $varName: func.buildVariableName("color", $name, "");

    .input-#{$name} {
      border: solid var(#{$varName}-300) 2px !important;
      color: var(#{$varName}-600) !important;

      &::placeholder {
        color: var(#{$varName}-100) !important;
      }

      &:hover,
      &:focus {
        border: solid var(#{$varName}-500) 2px !important;
      }
    }

    .input-#{$name}.colored {
      background-color: var(#{$varName}-25) !important;

      &::placeholder {
        color: var(#{$varName}-200) !important;
      }
    }

    @media (prefers-color-scheme: dark) {
      .input-#{$name} {
        border: solid var(#{$varName}-300) 2px !important;
        color: var(#{$varName}-100) !important;

        &::placeholder {
          color: var(#{$varName}-700) !important;
        }
      }

      .input-#{$name}.colored {
        background-color: var(#{$varName}-975) !important;

        &::placeholder {
          color: var(#{$varName}-700) !important;
        }
      }
    }
  }

  @if $whiteBlackColors != null {
    @each $name, $values in $whiteBlackColors {
      $varName: func.buildVariableName("color", "gray", "");

      .input-#{$name} {
        border: solid var(#{$varName}-#{map.get($values, base)}) 2px !important;

        &::placeholder {
          color: var(#{$varName}-#{map.get($values, hover)}) !important;
        }

        &:hover {
          border: solid
            var(#{$varName}-#{map.get($values, hover)})
            2px !important;
        }
      }
    }
  }
}
