@use "sass:map";
@use "../../functions" as func;

// Generate utility classes for link colors
@mixin generateLinkColors($colors, $grayWhiteColors) {
  @each $name, $values in $colors {
    $varName: func.buildVariableName("color", $name, "");

    .link-#{$name} {
      color: var(#{$varName}-400) !important;

      &:hover {
        color: var(#{$varName}-600) !important;
      }
    }
  }

  @if $grayWhiteColors != null {
    @each $name, $values in $grayWhiteColors {
      $varName: func.buildVariableName("color", "gray", "");

      .link-#{$name} {
        color: var(#{$varName}-#{map.get($values, base)}) !important;

        &:hover {
          color: var(#{$varName}-#{map.get($values, hover)}) !important;
        }
      }
    }
  }
}
