@use "../abstracts/variables/sizes" as *;
@use "../abstracts/variables/typography" as *;

.button {
  background-color: var(--color-gray-200);
  padding-right: $small-size-xl;
  padding-left: $small-size-xl;
  padding-top: $small-size-3xs;
  padding-bottom: $small-size-3xs;
  font-weight: $font-weight-semibold;
  width: fit-content;
  border-radius: 9999px;
  transition: background 200ms ease-in-out;
  border: solid transparent 0px;

  &:hover {
    background-color: var(--color-gray-300);
  }
}

.button.outlined {
  background-color: transparent;
  color: var(--color-gray-200);
  border: solid var(--color-gray-200) 2px;
  font-weight: bold;
  transition: color ease-in-out 200ms, border ease-in 200ms;

  &:hover {
    border-color: var(--color-gray-300);
    color: var(--color-gray-300);
  }
}

.button.squared {
  border-radius: 0.75rem;
}
