@use "../abstracts/variables/sizes" as *;
@use "../abstracts/variables/typography" as *;
@use "../abstracts/variables/colors" as *;

.card {
  background-color: $gray-50;
  border-radius: $small-size-base;
  padding: $small-size-2xl;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $small-size-3xs;
}

.card-title {
  font-size: $small-size-lg;
  font-weight: $font-weight-bold;
  color: $iron-700;
  line-height: $small-size-2xl;
}

.card-details {
  font-size: $small-size-sm;
  font-weight: $font-weight-medium;
  color: $iron-500;
  line-height: $small-size-2xl;
  flex-grow: 1;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $small-size-2xs;
  border-radius: $small-size-sm;
  background-color: #e7e7e7;
  width: 48px;
  height: 48px;
  font-size: $small-size-2xl;
}

.card-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: $small-size-2xs;
  font-size: $small-size-base;
  color: $pink-500;
}
