@use "../abstracts/variables/sizes" as size;
@use "../abstracts/variables/typography" as font;

.card {
  background-color: #f6f6f6;
  border-radius: size.$small-size-base;
  padding: size.$small-size-2xl;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: size.$small-size-3xs;
}

.card-title {
  font-size: size.$small-size-lg;
  font-weight: font.$font-weight-bold;
  color: #3c3c3c;
  line-height: size.$small-size-2xl;
}

.card-details {
  font-size: size.$small-size-sm;
  font-weight: font.$font-weight-medium;
  color: #676767;
  line-height: size.$small-size-2xl;
  flex-grow: 1;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: size.$small-size-2xs;
  border-radius: size.$small-size-sm;
  background-color: #e7e7e7;
  width: 48px;
  height: 48px;
  font-size: size.$small-size-2xl;
}

.card-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: size.$small-size-2xs;
  font-size: size.$small-size-base;
  color: #3451b2;
}
