@use "../abstracts/variables/sizes" as *;
@use "../abstracts/variables/typography" as *;

.card {
  background-color: var(--color-gray-100);
  border-radius: $small-size-base;
  padding: $small-size-2xl;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $small-size-sm;
  transition: color ease-in-out 200ms, border ease-in-out 150ms,
    scale cubic-bezier(0.34, 1.56, 0.64, 1) 400ms;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--color-gray-300);
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: $small-size-3xs;
    flex-grow: 1;
  }

  &-footer {
    display: flex;
    column-gap: $small-size-base;
    row-gap: $small-size-4xs;
    flex-wrap: wrap;
  }

  &-title {
    font-size: $small-size-lg;
    font-weight: $font-weight-bold;
    color: var(--color-navy-500);
    line-height: $small-size-2xl;
  }

  &-text {
    font-size: $small-size-sm;
    font-weight: $font-weight-medium;
    color: var(--color-gray-700);
    line-height: $small-size-2xl;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $small-size-xs;
    background-color: var(--color-gray-200);
    width: fit-content;
    height: fit-content;
    padding: $small-size-3xs;
    font-size: $small-size-2xl;
  }
}
