.input {
  border: solid var(--color-gray-300) 2px;
  height: fit-content;
  padding: 10px 8px;
  border-radius: 10px;
  transition: border ease-in-out 200ms;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: var(--color-gray-400);
  }

  &:hover {
    border: solid var(--color-gray-400) 2px;
  }

  &:focus {
    border: solid var(--color-gray-400) 2px;
  }
}
