@use "../abstracts/variables/colors" as vars;

.input {
  border: solid vars.$gray-300 2px;
  height: fit-content;
  padding: 10px 8px;
  border-radius: 10px;
  transition: border ease-in-out 200ms;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: vars.$gray-400;
  }

  &:hover {
    border: solid vars.$gray-400 2px;
  }

  &:focus {
    border: solid vars.$gray-400 2px;
  }
}
