@use "../../abstracts/functions" as func;
@use "../../abstracts/variables/colors" as var;

@mixin generateDarkInputs($colors) {
  @each $name, $values in $colors {
    @media (prefers-color-scheme: dark) {
      $varName: func.buildVariableName("color", $name, "");
      .input-#{$name} {
        color: var(#{$varName}-100) !important;

        &::placeholder {
          color: var(#{$varName}-700) !important;
        }
      }

      .input-#{$name}.colored {
        background-color: var(#{$varName}-950) !important;
      }
    }
  }
}

@include generateDarkInputs(var.$colors);
