@use "../abstracts/variables/typography" as *;
@use "../abstracts/variables/sizes" as *;

.title {
  color: var(--color-gray-900);
  font-weight: $font-weight-bold;
  font-size: $small-size-3xl;
}

.subtitle {
  color: var(--color-gray-600);
  font-weight: $font-weight-semibold;
  font-size: $small-size-xl;
}

.text {
  color: var(--color-gray-700);
  font-weight: $font-weight-semibold;
  font-size: $small-size-base;
  height: fit-content;
  width: fit-content;
}
