@mixin generateDimensions($map) {
  @each $name, $size in $map {
    .w-#{$name} {
      width: $size !important;
    }

    .h-#{$name} {
      height: $size !important;
    }

    .min-w-#{$name} {
      min-width: $size !important;
    }

    .min-h-#{$name} {
      min-height: $size !important;
    }

    .max-w-#{$name} {
      max-width: $size !important;
    }

    .max-h-#{$name} {
      max-height: $size !important;
    }
  }
}
