@use "sass:map";

// Generate utility classes for main colors
@mixin generateMainColorClasses($colors) {
  @each $colorName, $shades in $colors {
    @each $shade, $value in $shades {
      .bg-#{$colorName}-#{$shade} {
        background-color: #{$value} !important;
      }

      .text-#{$colorName}-#{$shade} {
        color: #{$value} !important;
      }

      .decoration-#{$colorName}-#{$shade} {
        text-decoration-color: #{$value} !important;
      }

      .border-#{$colorName}-#{$shade} {
        border-color: #{$value} !important;
      }

      .outline-#{$colorName}-#{$shade} {
        outline-color: #{$value} !important;
      }

      .accent-#{$colorName}-#{$shade} {
        accent-color: #{$value} !important;
      }

      .caret-#{$colorName}-#{$shade} {
        caret-color: #{$value} !important;
      }

      .fill-#{$colorName}-#{$shade} {
        fill: #{$value} !important;
      }

      .stroke-#{$colorName}-#{$shade} {
        stroke: #{$value} !important;
      }
    }
  }
}

// Generate utility classes for basic colors
@mixin generateBasicColorClasses($colors) {
  @each $name, $value in $colors {
    .bg-#{$name} {
      background-color: #{$value} !important;
    }

    .text-#{$name} {
      color: #{$value} !important;
    }

    .decoration-#{$name} {
      text-decoration-color: #{$value} !important;
    }

    .border-#{$name} {
      border-color: #{$value} !important;
    }

    .outline-#{$name} {
      outline-color: #{$value} !important;
    }

    .accent-#{$name} {
      accent-color: #{$value} !important;
    }

    .caret-#{$name} {
      caret-color: #{$value} !important;
    }

    .fill-#{$name} {
      fill: #{$value} !important;
    }

    .stroke-#{$name} {
      stroke: #{$value} !important;
    }
  }
}

// Generate utility classes for link colors
@mixin generateLinkColors($colors) {
  @each $colorName, $values in $colors {
    .link-#{$colorName} {
      color: map.get($values, base) !important;

      &:hover {
        color: map.get($values, hover) !important;
      }
    }
  }
}

// Generate utility classes for button
@mixin generateButtonColors($colors) {
  @each $colorName, $values in $colors {
    .button-#{$colorName} {
      background-color: map.get($values, base) !important;
      color: map.get($values, text) !important;

      &:hover {
        background-color: map.get($values, hover) !important;
      }
    }
  }
}
