@use "../../functions" as func;

// Generate utility classes for main colors
@mixin generateMainColorClasses($colors) {
  @each $name, $shades in $colors {
    @each $shade, $value in $shades {
      $varName: func.buildVariableName("color", $name, $shade);

      .bg-#{$name}-#{$shade} {
        background-color: var(#{$varName}) !important;
      }

      .text-#{$name}-#{$shade} {
        color: var(#{$varName}) !important;
      }

      .decoration-#{$name}-#{$shade} {
        text-decoration-color: var(#{$varName}) !important;
      }

      .border-#{$name}-#{$shade} {
        border-color: var(#{$varName}) !important;
      }

      .outline-#{$name}-#{$shade} {
        outline-color: var(#{$varName}) !important;
      }

      .accent-#{$name}-#{$shade} {
        accent-color: var(#{$varName}) !important;
      }

      .caret-#{$name}-#{$shade} {
        caret-color: var(#{$varName}) !important;
      }

      .fill-#{$name}-#{$shade} {
        fill: var(#{$varName}) !important;
      }

      .stroke-#{$name}-#{$shade} {
        stroke: var(#{$varName}) !important;
      }
    }
  }
}

// Generate utility classes for basic colors
@mixin generateBasicColorClasses($colors) {
  @each $name, $value in $colors {
    $varName: func.buildVariableName("color", $name, "");

    .bg-#{$name} {
      background-color: var(#{$varName}) !important;
    }

    .text-#{$name} {
      color: var(#{$varName}) !important;
    }

    .decoration-#{$name} {
      text-decoration-color: var(#{$varName}) !important;
    }

    .border-#{$name} {
      border-color: var(#{$varName}) !important;
    }

    .outline-#{$name} {
      outline-color: var(#{$varName}) !important;
    }

    .accent-#{$name} {
      accent-color: var(#{$varName}) !important;
    }

    .caret-#{$name} {
      caret-color: var(#{$varName}) !important;
    }

    .fill-#{$name} {
      fill: var(#{$varName}) !important;
    }

    .stroke-#{$name} {
      stroke: var(#{$varName}) !important;
    }
  }
}
