// Mxin to generate spacing sizes
@mixin generateSpacing($map) {
  @each $name, $size in $map {
    .m-#{$name} {
      margin: $size !important;
    }

    .mt-#{$name} {
      margin-top: $size !important;
    }

    .mr-#{$name} {
      margin-right: $size !important;
    }

    .mb-#{$name} {
      margin-bottom: $size !important;
    }

    .ml-#{$name} {
      margin-left: $size !important;
    }

    .mx-#{$name} {
      margin-left: $size !important;
      margin-right: $size !important;
    }

    .my-#{$name} {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }

    .p-#{$name} {
      padding: $size !important;
    }

    .pt-#{$name} {
      padding-top: $size !important;
    }

    .pr-#{$name} {
      padding-right: $size !important;
    }

    .pb-#{$name} {
      padding-bottom: $size !important;
    }

    .pl-#{$name} {
      padding-left: $size !important;
    }

    .px-#{$name} {
      padding-left: $size !important;
      padding-right: $size !important;
    }

    .py-#{$name} {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }

    .gap-#{$name} {
      gap: $size !important;
    }
  }
}

// Mixin to generate dimensions sizes
@mixin generateDimensions($map) {
  @each $name, $size in $map {
    .w-#{$name} {
      width: $size !important;
    }

    .h-#{$name} {
      height: $size !important;
    }

    .min-w-#{$name} {
      min-width: $size !important;
    }

    .min-h-#{$name} {
      min-height: $size !important;
    }

    .max-w-#{$name} {
      max-width: $size !important;
    }

    .max-h-#{$name} {
      max-height: $size !important;
    }
  }
}

// Mixin to generate text sizes
@mixin generateTextSizes($map) {
  @each $name, $size in $map {
    .text-#{$name} {
      font-size: $size !important;
    }
  }
}

// Mixin to generate border radius sizes
@mixin generateRadius($map) {
  @each $name, $size in $map {
    .rounded-#{$name} {
      border-radius: $size !important;
    }
  }
}
