// Sizes variables
//
// All variables must follow the naming convention '$<category>-<scope>-<level>'
// for consistent names.

// Small sizes -> For font size, border radius or small targets
$small-size-5xs: 2px !default;
$small-size-4xs: 4px !default;
$small-size-3xs: 8px !default;
$small-size-2xs: 10px !default;
$small-size-xs: 12px !default;
$small-size-sm: 14px !default;
$small-size-base: 16px !default;
$small-size-lg: 18px !default;
$small-size-xl: 20px !default;
$small-size-2xl: 24px !default;
$small-size-3xl: 28px !default;
$small-size-4xl: 36px !default;
$small-size-5xl: 40px !default;
$small-size-6xl: 48px !default;

$text-sizes: (
  3xs: 8px,
  2xs: 10px,
  xs: 12px,
  sm: 14px,
  base: 16px,
  lg: 18px,
  xl: 20px,
  2xl: 24px,
  3xl: 28px,
  4xl: 36px,
  5xl: 40px,
  6xl: 48px,
  7xl: 60px,
  8xl: 72px,
  9xl: 96px,
  xxl: 128px,
) !default;

$radius-sizes: (
  none: 0px,
  sm: 1px,
  base: 2px,
  md: 4px,
  lg: 6px,
  xl: 8px,
  2xl: 12px,
  3xl: 16px,
  4xl: 24px,
  full: 9999px,
) !default;

$spacing-sizes: (
  0: 0px,
  px: 1px,
  0.5: 2px,
  1: 4px,
  1.5: 6px,
  2: 8px,
  2.5: 10px,
  3: 12px,
  3.5: 14px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  11: 44px,
  12: 48px,
  14: 56px,
  16: 64px,
  20: 80px,
  24: 96px,
  28: 112px,
  32: 128px,
  36: 144px,
  40: 160px,
  44: 176px,
  48: 192px,
  52: 208px,
  56: 224px,
  60: 240px,
  64: 256px,
  72: 288px,
  80: 320px,
  96: 384px,
  xl: 448px,
  2xl: 512px,
  3xl: 576px,
  4xl: 640px,
  5xl: 768px,
  6xl: 896px,
  7xl: 960px,
);

$dimension-sizes: (
  auto: auto,
  0: 0px,
  px: 1px,
  0.5: 2px,
  1: 4px,
  1.5: 6px,
  2: 8px,
  2.5: 10px,
  3: 12px,
  3.5: 14px,
  4: 16px,
  5: 20px,
  6: 24px,
  8: 32px,
  10: 40px,
  12: 48px,
  16: 64px,
  20: 80px,
  24: 96px,
  32: 128px,
  40: 160px,
  48: 192px,
  56: 224px,
  64: 256px,
  72: 288px,
  80: 320px,
  96: 384px,
  xl: 448px,
  2xl: 512px,
  3xl: 576px,
  4xl: 640px,
  5xl: 768px,
  6xl: 896px,
  7xl: 1024px,
  full: 100%,
  screen: 100vh,
  dvh: 100dvh,
);
