// Typography variables
// All variables must follow the naming convention '$<category>-<scope>-<level>'

@use "sass:math";

$font-ratio: 1.125;
$font-base: 1rem;

@function font-size($steps) {
  @return 1$font-base * math.pow($font-ratio, $steps);
}

$font-size-3xs: font-size(-4);
$font-size-2xs: font-size(-3);
$font-size-xs: font-size(-2);
$font-size-sm: font-size(-1);
$font-size-base: font-size(0);
$font-size-lg: font-size(1);
$font-size-xl: font-size(2);
$font-size-2xl: font-size(3);
$font-size-3xl: font-size(4);
